<% if (isCdnEnable('jquery')) {%>
  <%- getCdnScript('jquery') %>
<% } else { %>
  <%- js('lib/jquery/jquery.min') %>
<% } %>

<% if (page.photos && page.photos.length) { %>
  <% if (isCdnEnable('justified_gallery_js')) {%>
    <%- getCdnScript('justified_gallery_js') %>
  <% } else { %>
    <%- js('lib/justified-gallery/js/jquery.justifiedGallery.min.js') %>
  <% } %>
<% } %>

<% if (is_post()){ %>
  <% if (isCdnEnable('clipboard')) { %>
    <%- getCdnScript('clipboard') %>
  <% } else { %>
    <%- js('lib/clipboard/clipboard.min') %>
  <% } %>
  <script type="text/javascript">
  $(function() {
    // Assembly syntax highlighting
    function highlightAssembly(html) {
      var registers = /\b(eax|ebx|ecx|edx|esi|edi|ebp|esp|rax|rbx|rcx|rdx|rsi|rdi|rbp|rsp|eip|rip|al|ah|bl|bh|cl|ch|dl|dh|r8|r9|r10|r11|r12|r13|r14|r15|r8d|r9d|r10d|r11d|r12d|r13d|r14d|r15d)\b/g;

      var instructions = /\b(mov|push|pop|add|sub|mul|div|inc|dec|jmp|je|jne|jz|jnz|jg|jge|jl|jle|call|ret|leave|nop|xor|and|or|not|shl|shr|cmp|test|lea|int)\b/g;

      var comments = /(;[^\n<]*)/g;

      var numbers = /\b(0x[0-9a-fA-F]+)\b/g;

      html = html.replace(comments, '<span style="color: #969896; font-style: italic;">$1</span>');
      html = html.replace(instructions, '<span style="color: #cc99cc;">$1</span>');
      html = html.replace(registers, '<span style="color: #b5bd68;">$1</span>');
      html = html.replace(numbers, '<span style="color: #f99157;">$1</span>');

      return html;
    }

    function looksLikeAssembly(text) {
      var asmPattern = /\b(mov|push|pop|ret|call|jmp|eax|ebx|ecx|edx|esp|ebp|esi|edi)\b/i;
      return asmPattern.test(text);
    }

    $('.highlight.plaintext').each(function() {
      var $block = $(this);
      var text = $block.text();

      if (looksLikeAssembly(text)) {
        $block.find('td.code').each(function() {
          var $td = $(this);
          var html = $td.html();
          html = highlightAssembly(html);
          $td.html(html);
        });

        $block.find('pre code').each(function() {
          var $code = $(this);
          var html = $code.html();
          html = highlightAssembly(html);
          $code.html(html);
        });
      }
    });

    $('.highlight.asm, .highlight.x86asm, .highlight.nasm').each(function() {
      var $block = $(this);

      $block.find('td.code').each(function() {
        var $td = $(this);
        var html = $td.html();
        html = highlightAssembly(html);
        $td.html(html);
      });

      $block.find('pre code').each(function() {
        var $code = $(this);
        var html = $code.html();
        html = highlightAssembly(html);
        $code.html(html);
      });
    });

    // copy-btn HTML
    var btn = "<span class=\"btn-copy tooltipped tooltipped-sw\" aria-label=\"<%= __('tooltip.copy_tip') %>\">";
    btn += '<i class="fa-regular fa-clone"></i>';
    btn += '</span>';
    // mount it!
    $(".highlight table").before(btn);
    var clip = new ClipboardJS('.btn-copy', {
      text: function(trigger) {
        return Array.from(trigger.nextElementSibling.querySelectorAll('.code')).reduce((str,it)=>str+it.innerText+'\n','')
      }
    });
    clip.on('success', function(e) {
      e.trigger.setAttribute('aria-label', "<%= __('tooltip.copied') %>");
      e.clearSelection();
    })
  })
  </script>
<% } %>
<%- js('js/main') %>
<% if (config.search && (page.search || page.type === "search")){ %>
  <%- js('js/search.js') %>
  <script type="text/javascript">
  $(function() {

    var $inputArea = $("input#search-input");
    var $resultArea = document.querySelector("div#search-result");

    $inputArea.focus(function() {
      var search_path = "<%= config.search.path %>";
      if (search_path.length == 0) {
        search_path = "search.xml";
      }
      var path = "<%= config.root %>" + search_path;
      searchFunc(path, 'search-input', 'search-result');
    });

    $inputArea.keydown(function(e) {
      if (e.which == 13) {
        e.preventDefault();
      }
    });

    var observer = new MutationObserver(function(mutationsList, observer) {
      if (mutationsList.length == 1) {
        if (mutationsList[0].addedNodes.length) {
          $(".search-no-result").hide();
        } else if (mutationsList[0].removedNodes.length) {
          $(".search-no-result").show(200);
        }
      }
    });

    observer.observe($resultArea, { childList: true });

  });
  </script>
<% } %>
